// Paleta de cores do site
$color-lgray: #F5F5F5;
$color-gray: #B1B1B1;
$color-dark: #333333;

$color-success: #3AB572; 
$color-alert: #F0AC4A;
$color-danger: #C23F3B;

//cores do projeto
$color-primary: #EC1D24;
$color-second: #800000;
$color-blue: #405580;

// Importação de font do site
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

// Grid configurações
$grid-gutter-width: 30px;
$grid-columns: 12;

$screen-sm: 768px;
$screen-md: 1024px; 
$screen-lg: 1170px;

$grid-container-max-size: 1170px;

//configurações de fonte
$font-display: 'Source Sans Pro', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;
$font-weight-heading: 400;


//icons do Icomoon App
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-search: "\e903";
$icon-arrow-down: "\e904";
$icon-arrow-right: "\e906";
$icon-glenmark: "\e905";
$icon-facebook: "\e900";
$icon-instagram: "\e901";
$icon-youtube: "\e902";

