p {
	margin-top: 0;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
	margin-top: 0;

	&.title-content {
		
	}

	&.title-section {
		
	}
}

h1, .h1 {

}
h2, .h2 {

}
h3, .h3 {

}
h4, .h4 {

}
h5, .h5 {

}

//Link
a{
	color: #007bff;
	text-decoration: none;
}

//transformação da fonte
.uppercase {
	text-transform: uppercase !important;
}
.capitalize {
	text-transform: capitalize !important;
}
.transform-none {
	text-transform: none !important;
}


// alinhamento do texto
.text-center {
	text-align: center !important;
}
.text-left {
	text-align: left !important;
}
.text-right {
	text-align: right !important;
}
.text-centered {
	margin-left: auto !important;
	margin-right: auto !important;
}

// Weight
.text-light {
	font-weight: 100 !important;
}
.text-normal {
	font-weight: 400 !important;
}
.text-semibold {
	font-weight: 600 !important;
}
.text-bold {
	font-weight: 700 !important;
}

// cores do texto
.text-lgray {
	color: $color-lgray !important;
}
.text-gray{
	color: $color-gray !important;
}
.text-dark{
	color: $color-dark !important;
}

.text-white {
	color: white !important;
}
.text-black {
	color: black !important;
}


.text-alert {
	color: $color-alert !important;
}
.text-danger {
	color: $color-danger !important;
}
.text-success {
	color: $color-success !important;
}


// fontes do texto
.font-display {
	font-family: $font-display !important;
}
.font-text {
	font-family: $font-text !important;
}